body{
    stroke-width: 0%;
    padding: 0%;
    background-attachment: scroll;
    background-color: white;
    

}
.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.search-bar{
    box-shadow: bisque;
    border-radius: 5px;
    align-content: center;
}
